@using DemoProjectECommerce.productCategory.ViewModels;
@model LoginViewModel

@{
    ViewData["Title"] = "Log in to your account";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4>Log in to your account</h4>
        </p>

        @if(TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @TempData["Error"] </span>
            </div>
        }

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="emailAddress" class="control-label"></label>
                        <input asp-for="emailAddress" class="form-control"/>
                        <span asp-validation-for="emailAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="password" class="control-label"></label>
                        <input asp-for="password" class="form-control" />
                        <span asp-validation-for="password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-outline-success float-right" type="submit" value="Log In"/>
                        <a class="btn btn-outline-secondary" asp-controller="Products" asp-action="Index">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>