@model DemoProjectECommerce.Models.Domain.FilterProductsViewModel
@using DemoProjectECommerce.productCategory.Enums;

@{
    ViewData["Title"] = "Filter products";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Filter Products</h4>
        </p>

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Filter">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="productCategory" class="control-label"></label>
                                <select asp-for="productCategory" class="form-control" asp-items="Html.GetEnumSelectList<ProductCategory>()"></select>
                                <span asp-validation-for="productCategory" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="startPrice" class="control-label"></label>
                                <input asp-for="startPrice" class="form-control" />
                                <span asp-validation-for="startPrice" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="endPrice" class="control-label"></label>
                                <input asp-for="endPrice" class="form-control" />
                                <span asp-validation-for="endPrice" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="submit" value="Filter" class="btn btn-outline-success float-right" />
                                <a class="btn btn-outline-secondary mt-2" asp-action="Index">Show all products</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--if(User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div style="position: fixed; right:25px; bottom:25px;" class="text-white">
        <a asp-controller="Products" asp-action="CreateByCategory" asp-route-productCategory="Model.productCategory" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Add New (By Category)
        </a>
    </div>
}-->


<!--
section Scripts {
        <script>
            $(document).ready(function () {
                $('#AddByCategory').on('change', function() {
                    var selectedCategory = $(this).val();

                    $.ajax({
                        url: 'Url.Action("CreateByCategory", "Products")',
                        type:'POST',
                        data: { id: selectedCategory },
                        success: function (data) {
                            console.log(data.success)
                        },
                        error: function () {
                            alert("error");
                        }

                    })
                })
            });
        </script>
}
-->
